{% extends "base.html" %}
{% load static %}
{% block title %}Profile{% endblock title %}
{% block css %}
<link rel="stylesheet" href="{% static 'customer/css/profile.css'%}">{% endblock css %}
{% block content %}
   <!--Message Start-->
   {% if messages %}
   {% for message in messages  %}
   <div class="alert alert-success alert-dismissible fade show" role="alert">
     <i class="fa fa-check-circle" aria-hidden="true"></i> {{message}}
     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
   </div>
   {% endfor %}
   {% endif %}
   <!--Message End-->
{% if user_profile %}
<form action="{% url 'customer:user_profile_edit_view' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-12 bg-body rounded mt-4 mb-4">
                        <div class="row g-2 ms-2 me-2">
                            <div class="col-md-5 border-end">
                                <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                                    {% if user_profile.user_image %}
                                    <img src="{{user_profile.user_image.url}}" class="rounded mt-5"
                                        style="width: 150px;">
                                    {% else %}
                                    <img src="{% static 'customer/images/avatar1.png' %}" class="rounded mt-5"
                                        style="width: 150px;">
                                    {% endif %}
                                    <span class="fw-bold">{{user_profile.first_name}} {{user_profile.last_name}}</span>
                                    <span class="fw-bold text-black-50">{{user_profile.email}}</span>
                                    <input type="file"  name="user_image" class="d-none" id="user_image">
                                    <label for="user_image" class="btn btn-primary mt-5">Update Profile Image</label>
                                </div>
                            </div>

                            <div class="col-md-7 border-end">
                                <div class="p-3 py-5">
                                    <div class="d-flex justify-content-between align-items-center mb-3">
                                        <h4 class="fw-bold">Profile Settings</h4>
                                    </div>
                                    <div class="row mt-4">

                                        <div class="col-6">
                                            <label class="form-label">First Name</label>
                                            <input type="text" id="first_name" name="first_name" class="form-control" value="{{user_profile.first_name}}">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Last Name</label>
                                            <input type="text" id="last_name" name="last_name" class="form-control" value="{{user_profile.last_name}}">
                                        </div>
                                        <div class="col-12">
                                            <label class="form-label">Username</label>
                                            <input type="text" id="username" name="username" class="form-control" value="{{user_profile.username}}">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Email</label>
                                            <input type="email" id="email" name="email" class="form-control" value="{{user_profile.email}}">
                                        </div>
                                        <div class="col-6">
                                            <label class="form-label">Mobile no</label>
                                            <input type="text" id="email" name="mobile_no" class="form-control" value="{{user_profile.mobile_no}}">
                                        </div>
                                        <div class="col-12 d-grid mt-3">
                                            <button class="btn btn-primary" type="submit">Update My Profile</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
{% else %}
<p>No profile found</p>
{% endif %}
{% endblock content %}