{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/footer.css'%}">{% endblock css %}
<footer class="page-foot pt-5">
    <div class="container text-center text-md-start">
        <div class="row justify-content-md-center">
            <div class="col-md-10 col-lg-12">
                <div class="row justify-content-lg-between">
                    <!-- Logo & Social-Icons -->
                    <div class="col-md-6 col-lg-3 wrap-lg-justify-vertical">
                        <div class="logo">
                            <h2>QuickFix</h2>
                        </div>
                        <div class="social-icons-list  mt-5 offset-top-30 offset-sm-top-65">
                            <ul class="d-flex  list-inline list-inline-xs">
                                <li><a class="ionicon-social text-white decoration-none" href="#"> <ion-icon
                                            name="logo-facebook"></ion-icon> </a></li>
                                <li><a class="ionicon-social text-white decoration-none" href="#"> <ion-icon
                                            name="logo-twitter"></ion-icon> </a></li>
                                <li><a class="ionicon-social text-white decoration-none" href="#"> <ion-icon
                                            name="logo-pinterest"></ion-icon> </a></li>
                                <li><a class="ionicon-social text-white decoration-none" href="#"> <ion-icon
                                            name="logo-vimeo"></ion-icon> </a></li>
                                <li><a class="ionicon-social text-white decoration-none" href="#"> <ion-icon
                                            name="logo-google"></ion-icon> </a></li>
                                <li><a class="ionicon-social icon icon-xs fa-twitter" href="#"></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Newsletter -->
                    <div class="col-md-6 col-lg-4 offset-top-55 offset-md-top-0">
                        <div class="max-width-300">
                            <h5 class="h5-variant-1">Newsletter</h5>
                            <hr>
                            <p class="offset-top-22">Keep up with our always upcoming news &amp; updates. Enter your
                                e-mail and subscribe to our newsletter.</p>
                            <!-- RD Mailform-->
                            {% comment %} <form
                                class="rd-mailform rd-mailform-inline rd-mailform-inline-sm offset-top-10"
                                data-form-output="form-output-global" data-form-type="subscribe" method="post"
                                action="bat/rd-mailform.php" novalidate="novalidate">
                                <div class="form-wrap">
                                    <label class="form-label rd-input-label" for="footer-subscribe-email">Enter your
                                        e-mail...</label>
                                    <input class="form-input form-control-has-validation form-control-last-child"
                                        id="footer-subscribe-email" type="email" name="email"
                                        data-constraints="@Email @Required"><span class="form-validation"></span>
                                </div>
                                <button class="btn btn-xs btn-light btn-no-shadow" type="submit">subscribe</button>
                            </form> {% endcomment %}
                        </div>
                    </div>
                    <!-- Contact Us -->
                    <div class="col-lg-4 col-xl-5 offset-top-55 offset-md-top-0">
                        <div class="row">
                            <div class="col-sm-12">
                                <h5 class="h5-variant-1">Contact Us</h5>
                                <hr>
                            </div>
                            <div class="col-xs-5 col-md-6 col-lg-12 col-xl-6 offset-top-18 text-xs-start">
                                <address class="contact-info">
                                    <div class="d-flex unit flex-column flex-xs-row unit-spacing-xs">
                                        <div class="unit-left icon-adjust-vertical"><span class="ionicon"><ion-icon
                                                    name="call-sharp"></ion-icon></span></div>
                                        <div class="unit-body"><span><a class="text-white text-decoration-none"
                                                    href="tel:#">1-800-1234-567</a></span><span><br><a
                                                    class="text-white text-decoration-none"
                                                    href="tel:#">1-800-3214-951</a></span></div>
                                    </div>
                                    <div
                                        class="unit flex-column flex-xs-row align-items-center unit-spacing-xs offset-top-22 offset-xs-top-18 pt-3">
                                        <div class="unit-left icon-adjust-vertical"><span class="ionicon"><ion-icon
                                                    name="mail"></ion-icon></span></div>
                                        <div class="unit-body"><a class="text-white text-decoration-none"
                                                href="mailto:#">info@demolink.org</a></div>
                                    </div>
                                </address>
                            </div>
                            <div
                                class="col-xs-7 col-md-6 col-lg-12 col-xl-6 offset-top-22 offset-xs-top-18 inset-xl-left-9 text-xs-start">
                                <address class="contact-info">
                                    <div class="unit flex-column flex-xs-row unit-spacing-xs">
                                        <div class="unit-left icon-adjust-vertical"><span class="ionicon"><ion-icon
                                                    name="location"></ion-icon></span></div>
                                        <div class="unit-body"><a class="nowrap text-white text-decoration-none"
                                                href="#">2130 Fulton Street, San Diego,<br>CA 94117-1080 USA</a></div>
                                    </div>
                                    <div class="unit flex-column flex-xs-row unit-spacing-xs offset-top-22 pt-3">
                                        <div class="unit-left icon-adjust-vertical"><span class="ionicon"><ion-icon
                                                    name="time"></ion-icon></span></div>
                                        <div class="unit-body"><span>Mon-Fri: 9:00am-6:00pm<br>Sat-Sun:
                                                10:00am-5:00pm</span></div>
                                    </div>
                                </address>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Last footer CopyRight  -->
                <div class="row offset-top-55 offset-sm-top-60 offset-lg-top-88">
                    <div class="col-sm-12 py-4">
                        <p class="rights">©&nbsp;<span class="copyright-year">2023</span>&nbsp;All Rights
                            Reserved&nbsp;<a class="text-white text-decoration-none" href="privacy-policy.html">Privacy
                                Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>